@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@media screen and (min-width: 320px) and (max-width: 426px) {
  /* page.jsx */
  html{
    width: fit-content;
    height: fit-content;
  }
  .main-section{
    flex-direction: column;
    overflow: visible;
  }
  .video-player{
    width: auto;
  }
  .incident-list{
    width: auto;
  }
  /* navbar */
  header{
    padding: 0px 12px;
  }
  .nav{
    gap: 4px
  }
  nav a{
    gap: 2px
  }
}
@media screen and (min-width: 320px) and (max-width: 768px){
  .user-name {
    font-size: 14px;
  }
  .user-mail {
    font-size: 12px;
  }
  .img {
    visibility: hidden;
  }
}
@media screen and (max-width: 768px) {
  /* navbar */
  header {
    padding: 0px 12px;
  }
  .nav {
    gap: 12px
  }
  nav a {
    gap: 4px
  }
  /* video-player */
  .video-player{
    width: 50% ;
  }
  .incident-list{
    width:50% ;
  }
  /* indientList */
  .lists{
    padding: 0;
    gap: 10px;
  }
}
@media screen and (max-width: 1025px) {
  .video-player {
    width: 50%;
  }
  .incident-list {
    width: 50%;
  }
  .lists{
    padding: 0;
  }
}
